body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 10px;
}

img {
  max-height: 250px;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.49);
}

.container-filmes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.filme {
  width: 50vh;
  padding: 10px;
  margin: 20px;
}

.filme p {
  color: #fff;
}

.filme img:hover{
  transform: scale(1.3);
  transition: .4s;
}